<%= form_with model: [:admin, @badge],local: true do |form| %>
  <%= render "shared/errors", resource: @badge %>
  <div class="form-group">
    
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :badge_title %>
    </p><br>

    <p>
      <%= form.label :imgfile %><br>
      <%= form.text_field :imgfile, id: :badge_imgfile %>
    </p>

    <p>
      <%= form.label :rule_name %><br>
      <%= form.text_field :rule_name, id: :badge_rule_name %>
    </p>

    <p>
      <%= form.label :rule_value %><br>
      <%= form.text_field :rule_value, id: :badge_rule_value %>
    </p>

    

    <div class="mt-3"><%= form.submit t('save_badge'), class: 'btn btn-primary' %>
    </div>
  </div>


<% end %>


