<div class="row justify-content-center mt-3">
  <div class="col col-md-10">
    <h3><%= t('.header') %></h3>

    <%= render 'shared/errors', resource: @badge %>

    <table class="table table-sm table-bordered">
      <tr>
        <th scope="col"><%=t('title')%></th>
        <th scope="col"><%=t('imgfile')%></th>
        <th scope="col"><%=t('rule_name')%></th>
        <th scope="col"><%=t('rule_value')%></th>
        <th class="text-center" scope="col" colspan="4"><%=t('actions')%></th>
      </tr>

      
      <%= render @badges %>
    </table>
    <%= link_to t('back'), admin_tests_path %>
  </div>
</div>



