<tr>
  <td><%= badge.title %></td>
  <td><%= badge.imgfile %></td>
  <td><%= badge.category.title if badge.category %></td>
  <td><%= badge.level if badge.level %></td>
  <td><%= badge.try if badge.try == 1 %></td>
</tr>
