<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<p>
    <b><%= @test_passage.evaluate_result %><font color = <%= @test_passage.color %>><%= @test_passage.result.to_i %></font>% </b>
</p>

<%= link_to 'Back To Test', tests_path %>