<tr>
  <td class="align-middle"><%= list_badge.title %></td>
  <td class="align-middle"><%= list_badge.imgfile %></td>
  <td class="align-middle"><%= list_badge.category.title if list_badge.category%></td>
  <td class="align-middle"><%= list_badge.level if list_badge.level%></td>
  <td class="align-middle"><%= list_badge.try if list_badge.try == 1%></td>
  
</tr>