<div class="row justify-content-center">
  <div class="col col-md-6">
    <h1><%= @question.test.title %> <%=t('question')%></h1>

    <p>
      <%= @question.body %>
    </p>

    <p id="notice"><%= notice %></p>
    <h2><%=t('answers')%></h2>

    <p>
      <%= link_to t('new_answer'), new_admin_question_answer_path(@question) %>
    </p>

    <div class="card border-primary text-center">
      <div class="card-body">
        <ol>
          <%= render @question.answers %>
        </ol>
      </div>
    </div>

    <%= link_to t('edit'), edit_admin_question_path(@question) %> | 
    <%= link_to t('back'), admin_test_path(@question.test) %>
  </div>
</div>


