<h1><%= @question.test.title %> <%=t('question')%></h1>

<p>
  <%= @question.body %>
</p>

<p id="notice"><%= notice %></p>
<h2><%=t('answers')%></h2>

<p>
  <%= link_to t('new_answer'), new_admin_question_answer_path(@question) %>
</p>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('edit'), edit_admin_question_path(@question) %> 
<%= link_to t('back'), admin_test_path(@question.test) %>
