<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render "shared/errors", resource: @test %>
  <div class="form-group">
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :test_title %>
    </p><br>

    <p>
      <%= form.label :level %><br>
      <%= form.text_field :level, id: :test_level %>
    </p>

    <p>
      <%= form.label :category_id %><br>
      <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
    </p>

    <div class="mt-3"><%= form.submit t('create_test'), class: 'btn btn-primary' %>
    </div>
  </div>


<% end %>



