<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <h3><%= t('.header') %></h3>
    <p>
      <%= link_to t('new_test'), new_admin_test_path %>
    </p>

    <p>
      <%= link_to t('new_badge'), new_admin_badge_path %>
    </p>

    <p>
      <%= link_to t('created_badges'), admin_badges_path %>
    </p>

    <%= render 'shared/errors', resource: @test %>

    <table class="table table-sm table-bordered">
      <tr>
        <th class="sort-by-title pointer" scope="col"><%=t('title')%>
          <%= octicon 'arrow-up', class: 'text-success hide'%>
          <%= octicon 'arrow-down', class: 'text-success hide'%>
        </th>
        <th scope="col"><%=t('level')%></th>
        <th scope="col"><%=t('questions')%></th>
        <th class="text-center" scope="col"><%=t('timer')%></th>
        <th class="text-center" scope="col" colspan="4"><%=t('actions')%></th>
      </tr>

      
      <%= render @tests %>
    </table>

    <p>
      <%= link_to 'GIST', admin_gists_path %>
    </p>
  </div>
</div>



