<h2><%= t('tests.index.header') %></h2>

<table>
  <tr>
    <th><%=t('title')%></th>
    <th><%=t('level')%></th>
    <th><%=t('questions')%></th>
    <th><%=t('actions')%></th>
  </tr>

  
  <%= render @tests %>
</table>

