<!DOCTYPE html>
<html>
<head>
  <title>TestGuru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>

<body>


<% if user_signed_in? %>
  <p class="nav user">
    <%= t('welcome_html') %>, <b><%= current_user.email %></b> Guru |
    <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
  </p>
<% end %>

<%= render "shared/flash" %>


<%= yield %>


<%= render "shared/footer" %>

</body>
</html>
